---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import data from '@data/ConstructedTechnology.json';
---

<Layout title="Refiner">
	<main>
		{
			data.map((item) => (
				<div>
					{item.Name}
				</div>
			))
		}
	</main>
</Layout>
