---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import Pagination from '@components/Pagination.astro';
import { getSlug, sort } from '@utils/lookup.js';
import type { Item } from '@utils/lookup.js';
import others from '@datav2/Others.json';
import trade from '@datav2/Trade.json';

export async function getStaticPaths({ paginate }: { paginate: <T>(data: T[], options: { pageSize: number }) => unknown[] }) {
	return paginate(sort([...others, ...trade] as Item[]), { pageSize: 24 });
}

interface PageProps {
	page: {
		data: Item[];
		currentPage: number;
		lastPage: number;
		url: {
			prev?: string;
			next?: string;
		};
	};
}
const { page } = Astro.props as PageProps;
---

<Layout
	title="Other Items | No Man's Sky Recipes"
	description="A list of other items for No Man's Sky. Our guide has everything you need to take your game to the next level."
	slug="other"
>
	<h1 class="text-center text-4xl sm:text-6xl mt-2 mb-8">Other Items</h1>
	<div id="items" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
		{
			page.data.map((item) => (
				<Card
					card={{
						name: item.Name,
						description: item.Description,
						button: 'View Item',
						image: `https://nomansskyrecipes.com/images/items/${item.Icon}`,
						link: getSlug(item),
						value: item.BaseValueUnits,
					}}
				/>
			))
		}
	</div>
	<Pagination page={page} />
</Layout>