---
import Layout from '@layouts/Layout.astro';
import CompactCard from '@components/CompactCard.astro';
import Pagination from '@components/Pagination.astro';
import { getSlug, sort } from '@utils/lookup.js';
import type { Item } from '@utils/lookup.js';
import products from '@datav2/Products.json';
import raw from '@datav2/RawMaterials.json';
import cooking from '@datav2/Cooking.json';
import curiosities from '@datav2/Curiosities.json';
import conTech from '@datav2/ConstructedTechnology.json';
import tech from '@datav2/Technology.json';
import upgrades from '@datav2/Upgrades.json';
import exocraft from '@datav2/Exocraft.json';
import buildings from '@datav2/Buildings.json';
import other from '@datav2/Others.json';
import trade from '@datav2/Trade.json';

export async function getStaticPaths({ paginate }: { paginate: <T>(data: T[], options: { pageSize: number }) => unknown[] }) {
	return paginate(
		sort([
			...raw,
			...products,
			...cooking,
			...curiosities,
			...conTech,
			...tech,
			...upgrades,
			...exocraft,
			...buildings,
			...other,
			...trade,
		] as Item[]),
		{ pageSize: 206 }
	);
}
// All paginated data is passed on the "page" prop
interface PageProps {
	page: {
		data: Item[];
		currentPage: number;
		lastPage: number;
		url: {
			prev?: string;
			next?: string;
		};
	};
}
const { page } = Astro.props as PageProps;
---

<Layout
	title="All Items | No Man's Sky Recipes"
	description="A list of all items for No Man's Sky. Our guide has everything you need to take your game to the next level."
	slug="all-items"
>
	<h3 class="text-center text-4xl sm:text-6xl mt-2 mb-8">All Items</h3>

	<div id="items" class="grid grid-cols-2 gap-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8">
		{
			page.data.map((item, index) => (
				<CompactCard
					card={{
						name: item.Name,
						image: 'https://nomansskyrecipes.com/images/items/' + item.Icon,
						link: getSlug(item),
					}}
					index={index}
				/>
			))
		}
	</div>

	<Pagination page={page} />
</Layout>
