<!-- Sidebar Holder -->
<nav id="sidebar">
    <div class="sidebar-header">
        <a href="/" class="navbar-brand mr-1"><img src="uploads/logo-nms.png" title="" style=""></a>
    </div>
    <ul class="list-unstyled components">
        <li class="{% if page.url == '/' %}active{% endif %}">
            <a href="/"><i class="fas fa-fw fa-home"></i>Home</a>
        </li>
        <li class="{% if page.type == 'refiner' %}active{% endif %}">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="{% if page.type == 'refiner' %}true{% else %}false{% endif %}" class="dropdown-toggle"><i class="fas fa-fw fa-industry" aria-hidden="true"></i>Refiners</a>
            <ul class="collapse list-unstyled {% if page.type == 'refiner' %}show{% endif %}" id="homeSubmenu">
                <li class="{% if page.url == '/portable-refiner' %}active{% endif %}"><a href="portable-refiner"><i class="fas fa-fw fa-caret-right" aria-hidden="true"></i>Portable</a></li>
                <li class="{% if page.url == '/medium-refiner' %}active{% endif %}"> <a href="medium-refiner"><i class="fas fa-fw fa-caret-right" aria-hidden="true"></i>Medium</a></li>
                <li class="{% if page.url == '/large-refiner' %}active{% endif %}"><a href="large-refiner"><i class="fas fa-fw fa-caret-right" aria-hidden="true"></i>Large </a></li>
                <li class="{% if page.url == '/all' %}active{% endif %}"><a href="all"><i class="fas fa-fw fa-caret-right" aria-hidden="true"></i>All</a></li>
            </ul>
        </li>
        <li class="{% if page.url == '/crafting-guide' %}active{% endif %}">
            <a href="crafting-guide"><i class="fas fa-fw fa-cog"></i>Crafting</a>
        </li>
        <li class="{% if page.url == '/calculator' %}active{% endif %}">
            <a href="calculator"><i class="fas fa-fw fa-calculator"></i>Crafting Calculator</a>
        </li>
        <li class="{% if page.url == '/cooking' %}active{% endif %}">
            <a href="cooking"><i class="fas fa-fw fa-birthday-cake"></i>Cooking</a>
        </li>
        <li class="{% if page.url == '/feedback' %}active{% endif %}">
            <a href="feedback"><i class="fas fa-fw fa-question"></i>Feedback</a>
        </li>
    </ul>

</nav>
