---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import { getSlug, sort } from '@utils/lookup.js';
import type { Item } from '@utils/lookup.js';
import data from '@data/Fish.json';
import Pagination from '@components/Pagination.astro';

export async function getStaticPaths({ paginate }: { paginate: <T>(data: T[], options: { pageSize: number }) => unknown[] }) {
	return paginate(sort(data as Item[]), { pageSize: 24 });
}
// All paginated data is passed on the "page" prop
interface PageProps {
	page: {
		data: Item[];
		currentPage: number;
		lastPage: number;
		url: {
			prev?: string;
			next?: string;
		};
	};
}
const { page } = Astro.props as PageProps;
---

<Layout
	title="Fish | No Man's Sky Recipes"
	description="A list of fish for No Man's Sky. Our guide has everything you need to take your game to the next level."
	slug="fish"
>
	<h1 class="text-center text-4xl sm:text-6xl mt-2 mb-8">Fish</h1>
	<div id="items" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
		{
			page.data.map((item, index) => (
				<Card
					card={{
						name: item.Name,
						description: item.Description,
						button: 'View Item',
						image: 'https://app.nmsassistant.com/assets/images/' + item.Icon,
						link: getSlug(item.fishId || item.Id) + (item.fishId || item.Id),
						value: item.BaseValueUnits,
					}}
					index={index}
				/>
			))
		}
	</div>

	<Pagination page={page} />
</Layout>
