---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import Search from '@components/Search.astro';
import { getSlug, sort } from '@utils/lookup.js';
import products from '@data/Products.json';
import raw from '@data/RawMaterials.json';
import cooking from '@data/Cooking.json';
import curiosities from '@data/Curiosities.json';
import technology from '@data/ConstructedTechnology.json';
import buildings from '@data/Buildings.json';

const data = sort([...raw, ...products, ...cooking, ...curiosities, ...technology, ...buildings]);


---

<Layout
	title="All Items | No Man's Sky Refiner Recipes, Crafting Guide and Cooking Guide"
	description="No Man's Sky Crafting Guide and Cooking Guide. Refiner Recipes, Crafting Guide and Cooking Guide."
	slug="/all"
>
	<h3 class="text-center text-4xl sm:text-6xl mt-2">All Items</h3>
	<Search />
	<div id="items" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
		{
			data.map((item) =>
				<Card
						card={{
							name: item.Name,
							description: item.Description,
							button: 'View Item',
							image: 'https://app.nmsassistant.com/assets/images/' + item.Icon,
							link: getSlug(item.Id) + item.Id,
							value: item.BaseValueUnits,
						}}
					/>
			)
		}
	</div>
</Layout>
