---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import Search from '@components/Search.astro';
import { getSlug, sort } from '@utils/lookup.js';
import data from '@data/Products.json';

data.sort((a, b) => b.BaseValueUnits - a.BaseValueUnits);
---

<Layout
	title="Crafting Calculator | No Man's Sky Refiner Recipes, Crafting Guide and Cooking Guide"
	description="No Man's Sky Crafting Calculator"
	slug="/calculator"
>
	<h1 class="text-center text-4xl sm:text-6xl mt-2">Crafting Calculator</h1>
	<Search />
	<div id="items" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
		{
			data.map((item) =>
				item.RequiredItems.length > 0 ? (
					<Card
						card={{
							name: item.Name,
							description: item.Description,
							button: 'View Recipes',
							image: 'https://app.nmsassistant.com/assets/images/' + item.Icon,
							link: getSlug(item.Id) + item.Id,
							value: item.BaseValueUnits,
						}}
					/>
				) : null
			)
		}
	</div>
</Layout>
