---
import Layout from '@layouts/Layout.astro';
import data from '@data/Products.json';

import { getById, getSlug, Item } from '@utils/lookup.js';

data.sort((a, b) => b.BaseValueUnits - a.BaseValueUnits);
---

<Layout title="Refiner">
	<main>
		{
			data.map((item) => (
				<a class="block" href={getSlug(item.Id) + item.Id}>
					{item.Name}
				</a>
			))
		}
	</main>
</Layout>