---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import data from '@data/Products.json';

data.sort((a, b) => b.BaseValueUnits - a.BaseValueUnits);
---

<Layout title="Refiner">
	<main>
		{
			data.map((item) => (
				<div>
					{item.Name}
				</div>
			))
		}
	</main>
</Layout>