---
import { SITE } from '~/config.mjs';
import { getCanonical, getHomePermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
	title: SITE.title,
	description: SITE.description,
	canonical: getCanonical(getHomePermalink()),
};
---

<Layout {meta}>
	<div class="container mx-auto pt-20 pb-8 grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
		<div>
			<div class="rounded-lg overflow-hidden dark:bg-slate-700 bg-slate-200 text-slate-900 dark:text-white">
				<div class="relative overflow-hidden pb-60"><img class="absolute h-full w-full object-cover object-center" src="/images/Refiner_Process.jpg" alt="">
				</div>
				<div class="relative bg-dark-light mt-[-1px]">
					<div class="py-10 px-8 text-white/90">
						<h3 class="text-2xl font-bold">Refining</h3>
						<p class="leading-6">Refining is a process of combining various ingredients (mostly resources) into other, more powerful and efficient ingredients with the use of a refiner.</p>
						<div class="mt-10 flex justify-between items-end">
							<div><img src="/images/portable.png" alt="Refining" width="100" height="100">
							</div>
							<a href="/refining" class="flex items-center btn btn-dark">
								<p class="mr-4">Read more</p>
								<svg xmlns="http://www.w3.org/2000/svg" width="14.125" height="13.358" viewBox="0 0 14.125 13.358">
									<g transform="translate(-3 -3.293)">
										<path id="Path_7" data-name="Path 7" d="M14.189,10.739H3V9.2H14.189L9.361,4.378l1.085-1.085,6.679,6.679-6.679,6.679L9.361,15.566Z" fill="#fff" fill-rule="evenodd"></path>
									</g>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="rounded-lg overflow-hidden dark:bg-slate-700 bg-slate-200 text-slate-900 dark:text-white">
				<div class="relative overflow-hidden pb-60"><img class="absolute h-full w-full object-cover object-center" src="/images/Product_Crafting_Tree.jpg" alt="">
				</div>
				<div class="relative bg-dark-light mt-[-1px]">
					<div class="py-10 px-8 text-white/90">
						<h3 class="text-2xl font-bold">Crafting</h3>
						<p class="leading-6">The player can craft technology upgrades for their exosuit, starships, Multi-tool, Exocraft, and Freighter using blueprints found throughout the universe.</p>
						<div class="mt-10 flex justify-between items-end">
							<div><img src="/images/resources.png" alt="Crafting" width="160" height="100">
							</div>
							<a href="/crafting" class="flex items-center btn btn-dark">
								<p class="mr-4">Read more</p>
								<svg xmlns="http://www.w3.org/2000/svg" width="14.125" height="13.358" viewBox="0 0 14.125 13.358">
									<g transform="translate(-3 -3.293)">
										<path id="Path_7" data-name="Path 7" d="M14.189,10.739H3V9.2H14.189L9.361,4.378l1.085-1.085,6.679,6.679-6.679,6.679L9.361,15.566Z" fill="#fff" fill-rule="evenodd"></path>
									</g>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="rounded-lg overflow-hidden dark:bg-slate-700 bg-slate-200 text-slate-900 dark:text-white">
				<div class="relative overflow-hidden pb-60"><img class="absolute h-full w-full object-cover object-center" src="/images/Nutrient_Processor_Cooking.jpg" alt="">
				</div>
				<div class="relative bg-dark-light mt-[-1px]">
					<div class="py-10 px-8 text-white/90">
						<h3 class="text-2xl font-bold">Cooking</h3>
						<p class="leading-6">Cooking is a process of combining ingredients and/or Harvested Agricultural Substances into consumable type products with the use of a Nutrient Processor. </p>
						<div class="mt-10 flex justify-between items-end">
							<div><img src="/images/nutrient-processor.png" alt="Cooking" width="100" height="100">
							</div>
							<a href="/cooking" class="flex items-center btn btn-dark">
								<p class="mr-4">Read more</p>
								<svg xmlns="http://www.w3.org/2000/svg" width="14.125" height="13.358" viewBox="0 0 14.125 13.358">
									<g transform="translate(-3 -3.293)">
										<path id="Path_7" data-name="Path 7" d="M14.189,10.739H3V9.2H14.189L9.361,4.378l1.085-1.085,6.679,6.679-6.679,6.679L9.361,15.566Z" fill="#fff" fill-rule="evenodd"></path>
									</g>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container mx-auto pb-20 grid grid-cols-1 gap-8 md:grid-cols-2 xl:grid-cols-3">
		<div>
			<div class="rounded-lg overflow-hidden dark:bg-slate-700 bg-slate-200 text-slate-900 dark:text-white">
				<div class="relative overflow-hidden pb-60"><img class="absolute h-full w-full object-cover object-center" src="/images/raw.jpg" alt="">
				</div>
				<div class="relative bg-dark-light mt-[-1px]">
					<div class="py-10 px-8 text-white/90">
						<h3 class="text-2xl font-bold">Calculator</h3>
						<p class="leading-6">A calculator for helping your farming efforts by calculating exactly what you need to craft any item.</p>
						<div class="mt-10 flex justify-between items-end">
							<div><img src="/images/calc.png" alt="Refining" width="100" height="100">
							</div>
							<a href="/calculator" class="flex items-center btn btn-dark">
								<p class="mr-4">Read more</p>
								<svg xmlns="http://www.w3.org/2000/svg" width="14.125" height="13.358" viewBox="0 0 14.125 13.358">
									<g transform="translate(-3 -3.293)">
										<path id="Path_7" data-name="Path 7" d="M14.189,10.739H3V9.2H14.189L9.361,4.378l1.085-1.085,6.679,6.679-6.679,6.679L9.361,15.566Z" fill="#fff" fill-rule="evenodd"></path>
									</g>
								</svg>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-span-2">
			<div class="flex rounded-lg dark:bg-slate-700 bg-slate-200 text-slate-900 dark:text-white">
				<div class="w-1/2 bg-cover md:block hidden rounded-l-lg" style="background-image: url(/images/bg2.jpg);"></div>
				<div class="md:w-1/2 max-w-lg mx-auto px-8 py-12 shadow-none">
					<div class="text-left p-0 font-sans">
						<h1 class="text-3xl font-medium">Send us your feedback</h1>
						<h3 class="p-1">Let us know if you have any ideas or suggestions on how to improve our site.</h3>
					</div>
					<form action="https://formspree.io/mzbjbkzw" class="p-0" method="POST">
						<div class="form-group mt-5">
							<input placeholder="Name" id="name" name="name" type="text" class="form-control here block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent ">
						</div>
						<div class="form-group mt-4">
							<input placeholder="Email" id="email" name="_replyto" type="email" class="form-control here block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent ">
						</div>
						<div class="form-group mt-4">
							<textarea placeholder="Message" id="message" name="message" cols="40" rows="5" class="form-control block w-full p-2 border rounded border-gray-300 focus:outline-none focus:ring-1 focus:ring-gray-400 focus:border-transparent " required=""></textarea>
						</div>
						<div class="form-group mt-4">
							<div class="g-recaptcha-response" data-sitekey="6LcAi90UAAAAABajOBg3a6bjOafwVmsrpb9Isqzi"></div>
							<br>
							<button name="submit" type="submit" class="btn btn-dark w-full">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</Layout>
