---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form.jsx';
---

<Layout
	title="Privacy Policy | No Man's Sky Recipes"
	description="Privacy Policy for No Man's Sky Recipes"
	slug="privacy-policy"
>
  <h1>Privacy Policy</h1>

  <small>Last updated: October 19, 2023</small>

  <p>This Privacy Policy describes the policies and procedures of No Man's Sky Recipes (&quot;we,&quot; &quot;our,&quot; or &quot;us&quot;) regarding the collection, use, and disclosure of information we receive from users of our website [nomansskyrecipes.com] (the &quot;Site&quot;) and any associated services.</p>
  
  <p>Information Collection and Use We do not collect or store any personal information from our users unless explicitly provided by the user through the contact form on our Site. The information we collect through the contact form may include the user's name, email address, and any additional message or inquiries they provide. We use this information solely for the purpose of responding to the user's inquiries and providing customer support.</p>
  
  <p>Third-Party Services and Ads We may use third-party services, such as Google AdSense, to display advertisements on our Site. These third-party service providers may collect certain information, such as your IP address, to provide targeted ads based on your interests. These providers have their own privacy policies addressing how they collect, use, and disclose such information. We are not responsible for the privacy practices of these third parties.</p>
  
  <p>Disclosure of Personal Information We do not sell, trade, or otherwise transfer personal information to third parties. However, we may disclose personal information in the following circumstances:</p>
  
  <p>With the user's consent When required by law or to protect our rights In the event of a merger, acquisition, or sale of all or a portion of our assets Security We are committed to protecting the security of your personal information and take reasonable measures to prevent unauthorized access, disclosure, or alteration. However, please be aware that no method of transmission or storage over the Internet is completely secure, and therefore, we cannot guarantee its absolute security.</p>
  
  <p>Links to Other Sites Our Site may contain links to other websites. Please note that we have no control over the content, privacy policies, or practices of these external sites. We strongly advise you to review the privacy policy of any third-party sites you visit.</p>
  
  <p>Children's Privacy Our Site is not directed to children under the age of 13, and we do not knowingly collect personal information from children. If we discover that we have collected personal information from a child under 13, we will promptly delete it from our records.</p>
  
  <p>GDPR Compliance If you are located in the European Economic Area (EEA), you have certain rights under the General Data Protection Regulation (GDPR) regarding the personal information we collect and process. These rights include:</p>
  
  <p>The right to access, update, or delete your personal information The right to restrict or object to the processing of your personal information The right to data portability The right to withdraw consent at any time, where applicable To exercise any of these rights, please contact us using the information provided at the end of this Privacy Policy.</p>
  
  <p>Changes to This Privacy Policy This Privacy Policy is effective as of October 19, 2023 and will remain in effect except with respect to any changes in its provisions in the future, which will be in effect immediately after being posted on this page.</p>
  
  <p>Contact Us If you have any questions about this Privacy Policy or would like to exercise your rights under GDPR, please contact us at https://nomansskyrecipes.com/feedback.</p>
</Layout>
