---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';
import data from '@data/Curiosities.json';
---

<Layout title="Refiner">
	<main>
		{
			data.map((item) => (
				<div>
					<Card item={item} />
				</div>
			))
		}
	</main>
</Layout>
