---
const currentYear = new Date().getFullYear()
---

<footer>
  <section>
    <div class="container stretch">
      <p>&copy; {currentYear} - Starter Theme for <a href="https://astro.build/">Astro</a>.</p>
    </div>
  </section>
</footer>

<style lang="scss">
  footer {
    background-color: var(--secondary);
    padding: 1rem 0;
    text-align: center;
    p {
      font-size: 0.8rem;
      margin: 0;
    }
  }
</style>