---
const { items } = Astro.props;
---

<ul>
	{
		items.map((item) => (
			<li>
				{item.Name} x<span data-quantity={item.Quantity}>{item.Quantity}</span>
				{item.RequiredItems && <Astro.self items={item.RequiredItems} />}
			</li>
		))
	}
</ul>
