<button
	id="open-search"
	type="button"
	class="fixed bottom-4 right-4 inline-flex items-center rounded-full border border-transparent bg-orange-600 p-3 text-black shadow-sm hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2"
	aria-label="Open search"
>
	<svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
		<path
			fill-rule="evenodd"
			d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
			clip-rule="evenodd"></path>
	</svg>
</button>

<script>
	const openSearch = document.getElementById('open-search');
	const siteSearch = document.getElementById('site-search');
	const searchInput = document.getElementById('search-input');

	function toggleSiteSearch() {
		siteSearch.classList.toggle('hidden');
		if (!siteSearch.classList.contains('hidden')) {
			searchInput.focus();
		}
	}

	openSearch.addEventListener('click', toggleSiteSearch);

	document.addEventListener('click', (event) => {
		if (event.target.id === 'site-search-modal') {
			siteSearch.classList.add('hidden');
		}
	});

	// Close search on Escape key press
	document.addEventListener('keydown', (event) => {
		if (event.key === 'Escape' && !siteSearch.classList.contains('hidden')) {
			siteSearch.classList.add('hidden');
		}
	});
</script>