<nav class="topbar topbar-expand">
	<div class="container stretch">
		<button type="button" id="sidebarCollapse" class="navbar-btn">
			<span></span>
			<span></span>
			<span></span>
		</button>
	</div>
</nav>

<style lang="scss">
	.topbar {
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
		padding: 20px 15px;
	}
	#sidebarCollapse {
		width: 30px;
		height: 30px;
		cursor: pointer;
		background: transparent;
		padding: 0;
		border: none;

		span {
			width: 80%;
			height: 2px;
			margin: 0 auto;
			display: block;
			background: #fff;
			transition: all 0.3s ease;
		}
		span:first-of-type {
			transform: rotate(45deg) translate(2px, 2px);
		}
		span:nth-of-type(2) {
			opacity: 0;
		}
		span:last-of-type {
			transform: rotate(-45deg) translate(1px, -1px);
		}
		&.active span {
			transform: none;
			opacity: 1;
			margin: 5px auto;
		}
	}
    @media (max-width: 1200px) {
        .topbar {
            text-align: right;
        }
    }
</style>

<script>
	const sidebarCollapse = document.getElementById('sidebarCollapse');

	sidebarCollapse.addEventListener('click', function () {
		document.getElementById('main-navigation').classList.toggle('active');
		this.classList.toggle('active');
	});
</script>
