---
import Layout from '@layouts/Layout.astro';
import Card from '@components/Card.astro';

import { getSlug, sort } from '@utils/lookup.js';
import data from '@data/Products.json';

export async function getStaticPaths({ paginate }) {
	return paginate(data.sort((a, b) => b.BaseValueUnits - a.BaseValueUnits), { pageSize: 24 });
}
// All paginated data is passed on the "page" prop
const { page } = Astro.props;
---

<Layout
	title="Crafting Calculator | No Man's Sky Recipes, Crafting Guide and Cooking Guide"
	description="A calculator to help your farming efforts by calculating exactly what you need to craft any item."
	slug="calculator"
>
	<h1 class="text-center text-4xl sm:text-6xl mt-2">Crafting Calculator</h1>
	<p class="text-xl text-center mt-3 mb-8">Choose an item below to start</p>
	<div id="items" class="grid grid-cols-1 gap-4 sm:grid-cols-2">
		{
			page.data.map((item) =>
				item.RequiredItems.length > 0 ? (
					<Card
						card={{
							name: item.Name,
							description: item.Description,
							button: 'View Recipes',
							image: 'https://app.nmsassistant.com/assets/images/' + item.Icon,
							link: getSlug(item.Id) + item.Id,
							value: item.BaseValueUnits,
						}}
					/>
				) : null
			)
		}
	</div>
	<div class="div flex gap-4 justify-center items-center my-8">
		{
			page.url.prev ? (
				<a class="btn" href={page.url.prev}>
					Previous
				</a>
			) : null
		}
		Page: {page.currentPage} of {page.lastPage}
		{
			page.url.next ? (
				<a class="btn" href={page.url.next}>
					Next
				</a>
			) : null
		}
	</div>
</Layout>
