<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62190812-5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "UA-62190812-5");
    </script>
    <!-- Hotjar Tracking Code for http://nomansskyrecipes.com/ -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1798681,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}" />
    <meta name="keywords" content="No Man's Sky, nms, Refiners, Refiner Recipes, Crafting Guide, Cooking Guide" />
    <meta name="robots" content="index, follow" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="English" />
    <meta name="author" content="Bradley Haveman" />
    <link rel="icon" type="image/png" href="uploads/favicon-32x32.png" sizes="32x32" />
    <!-- Bootstrap core CSS-->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <!-- Page level plugin CSS-->
    <link href="css/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="css/sb-admin.css" rel="stylesheet" />
    <script src="vendor/jquery/jquery.min.js"></script>

    <script data-ad-client="ca-pub-8524094599848175" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <script>
        (function($){
            $(document).ready(function() {
                var classes = [ 'bg1', 'bg2', 'bg4', 'bg5', 'bg6', 'bg7', 'bg8', 'bg9' ];
                $('#content-wrapper').addClass(classes[ Math.floor( Math.random()*classes.length ) ] );
            });
        })(jQuery);
    </script>

</head>

<body id="page-top" class="{{page.type}}">

    <div id="wrapper" class="wrapper">

        {% include nav.html %}

        <div id="content-wrapper" class="{{page.page_id}} bg0">

            <nav class="navbar navbar-expand">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse justify-content-between" id="nmsNav">

                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                            
                    </div>
                </div>
            </nav>
            
            

            <div class="container-fluid">

                {% if page.type != 'home' %}
                <div class="sorry text-center mb-3">
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8524094599848175" data-ad-slot="7371375670" data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                </div>
                {% endif %}

                {{ content }}

            </div>
            <!-- /.container-fluid -->

            <div class="container">

                {% include cards.html %}

            </div>
            

        </div>
        <!-- /.content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="js/jquery.dataTables.js"></script>
    <script src="js/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin.js"></script>

</body>

</html>