---
import raw from "../../assets/data/RawMaterials.json";

export async function getStaticPaths() {
  return raw.map(({ Id, Name, Description }) => {
    return {
      params: { Id },
      props: { Name, Description },
    };
  });
}

const { Name, Description } = Astro.props;
---
<html>
  <head>
    <title>{Name}</title>
  </head>
  <body>
    <h1>{Name}</h1>
    <p>{Description}</p>
  </body>
</html>