---
import Layout from '@layouts/Layout.astro';
import CompactCard from '@components/CompactCard.astro';
import Pagination from '@components/Pagination.astro';
import { getSlug, sort } from '@utils/lookup.js';
import type { Item } from '@utils/lookup.js';
import data from '@datav2/RawMaterials.json';

export async function getStaticPaths({ paginate }: { paginate: <T>(data: T[], options: { pageSize: number }) => unknown[] }) {
	return paginate(sort(data as Item[]), { pageSize: 84 });
}
// All paginated data is passed on the "page" prop
interface PageProps {
	page: {
		data: Item[];
		currentPage: number;
		lastPage: number;
		url: {
			prev?: string;
			next?: string;
		};
	};
}
const { page } = Astro.props as PageProps;
---

<Layout
	title="Raw Materials | No Man's Sky Recipes"
	description="A list of raw materials for No Man's Sky. Our guide has everything you need to take your game to the next level."
	slug="raw"
>
	<h1 class="text-center text-4xl sm:text-6xl my-12">Raw Materials</h1>
	<div id="items" class="grid grid-cols-2 gap-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8">
		{
			page.data.map((item, index) => (
				<CompactCard
					card={{
						name: item.Name,
						image: 'https://nomansskyrecipes.com/images/items/' + item.Icon,
						link: getSlug(item),
					}}
					index={index}
				/>
			))
		}
	</div>
	<Pagination page={page} />
</Layout>
